@using CrossStitchApp.Models
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions
@inject HttpClient Http

<input @bind-value="Rows" disabled="@IsBusy"/>
<input @bind-value="Cols" disabled="@IsBusy"/>
<input @bind-value="Size" disabled="@IsBusy"/>
<button disabled="@IsBusy" class="btn btn-primary" @onclick="Display">Display</button>
<BECanvas Width="600" Height="600" @ref="canvasReference" ></BECanvas>

@code {
    private int Cols {get; set;} = 10;

    private int Rows {get; set;} = 10;

    private int Size {get; set;} = 30;

    private bool IsBusy {get; set;} = false;

    private GridViewModel grid;

    private Canvas2DContext context;

    protected BECanvasComponent canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            context = await canvasReference.CreateCanvas2DAsync();

            await context.SetLineWidthAsync(1);
            await context.SetFillStyleAsync($"black");
        }
    }

    public async Task Display()
    {
        IsBusy = true;
        grid = new GridViewModel(Rows, Cols);
        await ShowGrid();
        IsBusy = false;
    }

    private async Task ShowGrid()
    {
        await context.ClearRectAsync(0, 0, canvasReference.Width, canvasReference.Height);
        foreach(var cell in grid.Cells)
        {
            var x = cell.Position.X * Size;
            var y = cell.Position.Y * Size;

            if(x > canvasReference.Width || y > canvasReference.Height) continue;

            var style = $"rgb({cell.Color.R}, {cell.Color.G}, {cell.Color.B})";
            await context.SetFillStyleAsync(style);
            await context.FillRectAsync(x, y, Size, Size);
            await context.StrokeRectAsync(x, y, Size, Size);
            await Task.Yield();
        }
    }
}